//
//====>> カラー変数の管理 <<====

//・サイトで使用するカラーに関する変数を定義
//・このファイルはベースのスタイルになるので、原則オーバーライド(上書き)はしない事

//

//	基本カラー設定
//-----------------------------------------------------*/
:root{
    --color-base: #0069B3;//サイトのメインカラー
    --color-white: #fff;
    --color-black: #333;
    --color-gray:#999;
    --color-red: #f00;
    --color-blue: #0069B3;//サイトのメインカラー
}


//		新規追加設定：カラー
//----------------------------------------------------*/
// :root{
//     --color-blue:#0069B3;
//     --color-pink:#EF9596;
//     --color-green:#079A49;
//     --color-palegreen:#F1F6F2;
//     --color-base: var(--color-blue);
// }

