@charset "UTF-8";
:root {
  --color-base: #0069B3;
  --color-white: #fff;
  --color-black: #333;
  --color-gray:#999;
  --color-red: #f00;
  --color-blue: #0069B3;
}

:root {
  --base-sans-serif:"Hiragino Sans", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  --base-serif:"游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

/*		基本設定：幅
-----------------------------------------------------*/
:root {
  --w-liquid: 100%;
  --w-solid-base: 1100px;
  --w-solid-wide: 1280px;
  --w-solid-short: 980px;
  --w-2column-main: 700px;
  --w-2column-aside: 290px;
  --w-3column-main: 640px;
  --w-3column-right: 150px;
  --w-3column-left: 150px;
}

@media screen and (max-width: 767px) {
  :root {
    --w-liquid: 92%;
    --w-solid-base: 92%;
    --w-solid-wide: 92%;
    --w-solid-short: 92%;
    --w-2column-main: 92%;
    --w-2column-aside: 92%;
    --w-3column-main: 92%%;
    --w-3column-right: 92%;
    --w-3column-left: 92%;
  }
}
/*  END Break Point  */
/*		z-index設定
-----------------------------------------------------*/
*, *:before, *:after {
  font-feature-settings: "palt";
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--base-sans-serif);
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2;
  letter-spacing: 0.05em;
  overflow-wrap: anywhere;
  word-break: normal;
  line-break: strict;
  color: var(--color-black);
}
@media screen and (max-width: 767px) {
  body {
    font-size: 1.4rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s linear;
}
a[target=_blank].is-external::after {
  content: "";
  background: url("../img/common/icon_external.svg") no-repeat center center/contain;
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  vertical-align: middle;
  margin-left: 0.3em;
}

@media screen and (max-width: 767px) {
  .is-pc {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .is-sp {
    display: none !important;
  }
}
@media screen and (min-width: 1024px) {
  .is-tb {
    display: none !important;
  }
}
input {
  font-size: 1.6rem;
}

textarea {
  font-size: 1.6rem;
  resize: vertical;
}

*:focus {
  outline: none;
}

::-moz-selection {
  color: #fff;
  background: cyan;
  background: var(--color-base);
}

::selection {
  color: #fff;
  background: cyan;
  background: var(--color-base);
}

@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}
figure {
  will-change: transform;
}

/*		コンテンツタイプと幅
-----------------------------------------------------*/
.l-wrapper {
  width: 100%;
  max-width: 100%;
  max-width: 100vw;
  max-width: 100dvw;
  overflow: hidden;
}

.l-container_short {
  width: var(--w-liquid);
  max-width: var(--w-solid-short);
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .l-container_short {
    padding: 0 20px;
  }
}

.l-container {
  width: var(--w-liquid);
  max-width: var(--w-solid-base);
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .l-container {
    padding: 0 20px;
  }
}
.l-container > .l-inner {
  width: 100%;
  max-width: var(--w-solid-short);
  margin: 0 auto;
  padding: 0 20px;
}

.l-container_wide {
  width: var(--w-liquid);
  max-width: var(--w-solid-wide);
  margin: auto;
}
@media screen and (min-width: 768px) {
  .l-container_wide {
    padding: 0 20px;
  }
}
.l-container_wide > .l-inner {
  width: 100%;
  max-width: var(--w-solid-short);
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .l-container_short {
    padding: 0;
  }
  .l-container {
    padding: 0;
  }
  .l-container > .l-inner {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .l-container_wide {
    padding: 0;
  }
  .l-container_wide > .l-inner {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.l-container.l-2column {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.l-container.l-2column .l-main {
  width: 100%;
  max-width: var(--w-2column-main);
  margin: auto;
}

.l-container.l-2column .l-aside {
  width: 100%;
  max-width: var(--w-2column-aside);
  margin: auto;
}

.l-container.l-3column {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.l-container.l-3column .l-main {
  width: 100%;
  max-width: var(--w-3column-main);
  margin: auto;
}

.l-container.l-3column .l-aside-right {
  width: 100%;
  max-width: var(--w-3column-right);
  margin: auto;
}

.l-container.l-3column .l-aside-left {
  width: 100%;
  max-width: var(--w-3column-left);
  margin: auto;
}

.l-inner {
  max-width: var(--w-solid-wide);
  margin: auto;
}

#header {
  position: fixed;
  top: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.9);
  padding: 25px 0 15px;
}
#header.l-header {
  width: var(--w-liquid);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
#header.l-header .l-container,
#header.l-header .l-container_wide {
  max-width: var(--w-solid-base);
  display: flex;
  align-items: center;
}
#header.l-header .l-header_logo {
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1;
  margin-right: auto;
}
#header.l-header .l-header_logo a {
  display: flex;
  align-items: center;
  gap: 16px;
}
#header.l-header .l-header_btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px 3%;
}
#header.l-header .l-header_btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
  background-color: var(--color-base);
  padding: 8px 30px;
  border: 3px solid transparent;
  border-radius: 100px;
  transition: all 0.3s ease;
  box-sizing: border-box;
}
@media (hover: hover) {
  #header.l-header .l-header_btn a:hover {
    color: #000;
    color: var(--color-base);
    background-color: #fff;
    border-color: currentColor;
  }
}
#header {
  /* END &.l-header */
} /* END #header */
@media screen and (max-width: 1023px) {
  #header.l-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 5px 0;
    display: flex;
    align-items: center;
    min-height: 60px;
  }
  #header.l-header .l-container,
  #header.l-header .l-container_wide {
    gap: 10px;
    padding: 0 70px 0 10px;
  }
  #header.l-header .l-header_logo {
    max-width: 150px;
    flex-shrink: 0;
    font-size: 5vw;
  }
  #header.l-header .l-header_logo * {
    font-size: 3vw;
  }
  #header.l-header {
    /* END #header */
  }
}
#global-nav.l-nav {
  overflow-y: auto;
  gap: 30px;
}
#global-nav.l-nav .l-nav_logo {
  display: none;
  color: var(--color-black);
}
#global-nav.l-nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 43px;
}
#global-nav.l-nav ul li {
  font-family: var(--mplus-font);
  transform: var(--Jaggy-clear);
  text-align: center;
  color: var(--color-black);
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  font-weight: bold;
}
#global-nav.l-nav ul li span {
  display: block;
}
#global-nav.l-nav ul li a {
  display: block;
  color: var(--color-black);
  line-height: 1.3;
}
@media (hover: hover) {
  #global-nav.l-nav ul li a:hover {
    color: var(--color-base);
  }
}
#global-nav.l-nav {
  /* END & ul */
}
#global-nav.l-nav .l-nav_contact_tel {
  display: none;
  color: #fff;
  margin-bottom: 15px;
}
#global-nav.l-nav .l-nav_contact_tel span {
  display: block;
  font-size: 4.4rem;
  font-size: clamp(3rem, -0.266rem + 11.667vw, 4.4rem);
  letter-spacing: 0.05em;
  line-height: 1;
}
#global-nav.l-nav .l-nav_contact_tel span::before {
  content: "";
  display: inline-block;
  width: 25px;
  width: clamp(16px, -7.333px + 8.333vw, 26px);
  aspect-ratio: 100/138;
  margin-right: 0.3em;
  background-color: currentColor;
  -webkit-mask-image: url("../img/common/icon_tel.svg");
  mask-image: url("../img/common/icon_tel.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100% auto;
  mask-size: 100% auto;
}
#global-nav.l-nav .l-nav_contact_tel small {
  display: block;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  text-align: center;
  padding-top: 7px;
  margin-top: 15px;
  border-top: 1px solid #fff;
}
#global-nav.l-nav .l-header_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  color: #fff;
  background-color: #333;
  background-color: var(--color-base);
  border: 2px solid transparent;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}
@media (hover: hover) {
  #global-nav.l-nav .l-header_btn:hover {
    color: #333;
    color: var(--color-base);
    border-color: currentColor;
    background-color: #fff;
  }
  #global-nav.l-nav .l-header_btn:hover::after {
    transform: translateY(3px);
  }
}

/* END .l-nav */
@media screen and (max-width: 1023px) {
  #global-nav.l-nav {
    flex-flow: column nowrap;
    position: absolute;
    top: 60px;
    left: 100%;
    z-index: 900;
    width: 100%;
    width: 100%;
    width: 100dvw;
    height: calc(100vh - 60px);
    height: calc(100dvh - 60px);
    padding: 20px 0 50px;
    opacity: 0;
    background-color: var(--color-blue);
    transition: all 0.1s linear;
  }
  #global-nav.l-nav.is-show {
    left: 0;
    opacity: 1;
  }
  #global-nav.l-nav.is-flex {
    flex-direction: column;
  }
  #global-nav.l-nav.is-flex ul {
    width: 100%;
    margin: auto;
    flex-direction: column;
    gap: 0;
  }
  #global-nav.l-nav.is-flex ul li {
    text-align: left;
    max-width: 600px;
    width: 90%;
    padding: 30px 0;
    border-bottom: 1px solid #fff;
  }
  #global-nav.l-nav.is-flex ul li a {
    position: relative;
    color: #fff;
    letter-spacing: 0.08em;
    padding: 0 20px;
    transition: all 0.2s linear;
  }
  #global-nav.l-nav.is-flex ul li a::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 16.5px;
    position: absolute;
    top: calc(50% - 8.25px);
    right: 3%;
    background: url(../img/common/global-nav_arrow.svg) no-repeat center center/100% auto;
    transition: all 0.2s linear;
  }
}
@media screen and (max-width: 1023px) and (hover: hover) {
  #global-nav.l-nav.is-flex ul li a:hover {
    color: var(--color-gold);
  }
  #global-nav.l-nav.is-flex ul li a:hover::after {
    right: 2%;
  }
}
@media screen and (max-width: 1023px) {
  #global-nav.l-nav.is-flex ul li span {
    display: inline-block;
  }
  #global-nav.l-nav.is-flex .l-header_btn {
    width: 100%;
    max-width: 245px;
    margin: 20px 0;
    color: var(--color-black);
    background-color: #fff;
  }
}
/*  END Break Point  */
.l-header_toggle {
  display: none;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  background-color: #333;
  background-color: var(--color-base);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  padding: 10px 5px 5px;
  box-sizing: border-box;
  transition: all 0.2s linear;
  cursor: pointer;
}
.l-header_toggle > span {
  display: block;
  position: relative;
  width: 24px;
  height: 2px;
  padding: 0;
  line-height: 1;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 100px;
  transition: all 0.3s linear;
}
.l-header_toggle > span::before, .l-header_toggle > span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 2px;
  background-color: var(--color-pink);
  border-radius: 100px;
  transition: all 0.3s ease;
  transform-origin: center center;
}
.l-header_toggle > span::before {
  transform: translate(-50%, -50%) translateY(-8px);
}
.l-header_toggle > span::after {
  transform: translate(-50%, -50%) translateY(8px);
}
.l-header_toggle > p {
  display: block;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
.l-header_toggle.is-active > span {
  background-color: transparent;
}
.l-header_toggle.is-active > span::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.l-header_toggle.is-active > span::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: 1023px) {
  .l-header_toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/*  END Break Point  */
/*		フッター
-----------------------------------------------------*/
#footer {
  text-align: center;
  padding-top: 80px;
  background: #fff;
}
#footer .l-container {
  width: var(--w-liquid);
}
#footer .l-footer_logo {
  margin-bottom: 20px;
}
#footer .c-copyright .c-copyright__txt {
  font-size: 1.4rem;
  letter-spacing: 0.01em;
}

/*  END #footer  */
@media screen and (max-width: 767px) {
  #footer.l-footer {
    padding: 20px 0;
  }
  #footer.l-footer .c-copyright .c-copyright__txt {
    font-size: 1.4rem;
  }
  /*  END #footer  */
}
/*  END Break Point  */
#page-title {
  margin-top: 10px;
  padding: 60px 0 0;
  box-sizing: border-box;
}
#page-title > section h2 {
  font-size: 8rem;
  font-weight: normal;
  color: var(--color-font-base);
}

/*  END #page-title  */
@media screen and (max-width: 767px) {
  #page-title {
    padding: 30px 10px;
  }
  #page-title > section h2 {
    font-size: 4rem;
  }
  /*  END #page-title  */
}
/*  END Break Point  */
/*		ページトップ
-----------------------------------------------------*/
#page_top {
  position: fixed;
  bottom: 2%;
  right: 3%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
#page_top > a {
  background: #000;
  width: auto;
  height: auto;
  padding: 12px 20px;
  color: var(--color-theme-base);
  font-weight: bold;
}
@media (hover: hover) {
  #page_top > a:hover {
    text-decoration: none;
  }
}
#page_top {
  /*  END & > a  */
} /*  END #page_top  */
.c-list li {
  padding: 20px;
  box-sizing: border-box;
}

ul.c-list_plain > li {
  position: relative;
  padding-left: 2rem;
}
ul.c-list_plain > li::before {
  content: "・";
  position: absolute;
  left: 0;
  font-size: inherit;
}

ol.c-list_plain > li {
  counter-increment: mycounter;
}
ol.c-list_plain > li::before {
  content: counter(mycounter, decimal-leading-zero) ".";
  display: inline-block;
  font-size: inherit;
  margin-right: 0.3em;
}

/*		ボタン
-----------------------------------------------------*/
.c-btn_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px 5%;
  flex-wrap: wrap;
}

.c-link_btn {
  position: relative;
  color: #fff;
  background: var(--color-black);
  border: 2px solid var(--color-black);
  padding: 10px 40px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
.c-link_btn ::file-selector-button {
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.c-link_btn.is-arrow::after, .c-link_btn.is-arrow_under::after {
  content: "▶";
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  font-size: 1rem;
  line-height: 0;
  transition: all 0.2s ease-in-out;
}
.c-link_btn.is-arrow_under::after {
  transform: rotate(90deg);
}
@media (hover: hover) {
  .c-link_btn:hover {
    background-color: #fff;
    opacity: 1;
    color: var(--color-black);
    text-decoration: none;
  }
  .c-link_btn:hover::after {
    color: currentColor;
  }
}
@media (hover: hover) {
  .c-link_btn.is-arrow:hover::after {
    right: 4%;
  }
}

.c-link_btn_arrow {
  position: relative;
  border: 1px solid var(--color-border-pale);
  padding: 10px 40px;
  display: inline-block;
  color: var(--theme-main);
}
.c-link_btn_arrow:after {
  content: "→";
  position: absolute;
  top: auto;
  right: 5%;
}
@media (hover: hover) {
  .c-link_btn_arrow:after:hover {
    right: -5%;
  }
}
@media (hover: hover) {
  .c-link_btn_arrow:hover {
    opacity: 1;
    color: var(--theme-main);
    text-decoration: none;
  }
}

.c-news_list li {
  display: flex;
  border-bottom: dashed 1px #333;
}
.c-news_list li a {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (hover: hover) {
  .c-news_list li a:hover {
    color: blue;
    color: var(--color-blue);
    color: var(--color-base);
  }
}
.c-news_list li .c-news_cat {
  min-width: 120px;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid currentColor;
  border-radius: 6px;
}

@media screen and (max-width: 767px) {
  /*SP以下 表示*/
  .c-news_list li a {
    flex-wrap: wrap;
  }
  .c-news_list li a p {
    width: 100%;
  }
}
/*END SP以下 表示*/
.c-table_plain {
  width: 100%;
}
.c-table_plain th {
  background: #efefef;
  width: 20%;
  padding: 20px;
  border-bottom: solid 1px #ccc;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}
.c-table_plain td {
  padding: 20px 30px;
  border-bottom: solid 1px #ccc;
}

@media screen and (max-width: 767px) {
  .c-table_plain thead, .c-table_plain tbody, .c-table_plain tfoot, .c-table_plain tr {
    display: block;
    width: 100%;
  }
  .c-table_plain th, .c-table_plain td {
    width: 100%;
    padding: 20px;
    display: block;
  }
}
.c-table_two_tone {
  width: 100%;
}
.c-table_two_tone th {
  width: 30%;
  padding: 20px;
  border-bottom: solid 1px var(--color-border-pale);
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}
.c-table_two_tone tr:nth-child(2n) > th {
  background: var(--color-base);
  width: 30%;
  padding: 20px;
  border-bottom: solid 1px var(--color-border-pale);
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}
.c-table_two_tone td {
  width: 70%;
  padding: 20px 30px;
  border-bottom: solid 1px var(--color-border-pale);
}
.c-table_two_tone tr:nth-child(2n) > td {
  background: var(--color-base);
  width: 70%;
  padding: 20px 30px;
  border-bottom: solid 1px var(--color-border-pale);
}

@media screen and (max-width: 767px) {
  .table_two_tone th,
  table.two_tone td {
    width: 100%;
    padding: 20px 0px;
    display: block;
  }
}
.c-breadcrumb {
  width: var(--w-liquid);
  padding: 5px 0;
  box-sizing: border-box;
}
.c-breadcrumb ol, .c-breadcrumb ul,
.c-breadcrumb .c-breadcrumb-list {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px 5px;
  padding: 4px 6px;
  background-color: #efefef;
  overflow-y: none;
}
.c-breadcrumb ol li, .c-breadcrumb ul li,
.c-breadcrumb .c-breadcrumb-list li {
  color: var(--color-font-base);
  font-size: 1.3rem;
}
.c-breadcrumb ol li:not(:last-child):after, .c-breadcrumb ul li:not(:last-child):after,
.c-breadcrumb .c-breadcrumb-list li:not(:last-child):after {
  content: ">";
  display: inline-block;
  margin: 0 -1px 0 1px;
}
.c-breadcrumb ol li a, .c-breadcrumb ul li a,
.c-breadcrumb .c-breadcrumb-list li a {
  color: var(--color-font-base);
  display: inline-block;
  font-size: 1.3rem;
}
@media (hover: hover) {
  .c-breadcrumb ol li a:hover, .c-breadcrumb ul li a:hover,
  .c-breadcrumb .c-breadcrumb-list li a:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .c-breadcrumb li,
  .c-breadcrumb li a {
    font-size: 1.2rem;
  }
}
/*  END Break Point  */
.c-tab-panel_tabs {
  display: flex;
  justify-content: center;
  gap: 15px 3%;
}
.c-tab-panel_tab {
  cursor: pointer;
  padding: 3px 5px;
}
.c-tab-panel_tab.is-active {
  pointer-events: none;
  border-bottom: 1px solid var(--color-black);
}
.c-tab-panel_panel {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.2s ease;
}
.c-tab-panel_panel.is-active {
  pointer-events: all;
  max-height: 100%;
  visibility: visible;
  opacity: 1;
}

summary::-webkit-details-marker {
  display: none;
}

details::details-content {
  content-visibility: unset;
  display: block grid;
}
@media (prefers-reduced-motion: no-preference) {
  details::details-content {
    transition-duration: 300ms;
    transition-property: grid-template-rows;
  }
}
details:not([open])::details-content {
  grid-template-rows: 0fr;
}
details[open]::details-content {
  grid-template-rows: 1fr;
}

.c-accordion {
  list-style: none;
}
.c-accordion_label {
  position: relative;
  cursor: pointer;
  font-size: 2rem;
  text-align: left;
  padding: 20px 50px 20px 20px;
  transition: all 0.5s ease;
  list-style-type: none;
}
.c-accordion_label::before, .c-accordion_label::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #333;
  transition: all 0.2s linear;
}
.c-accordion_label::before {
  top: 50%;
  right: 15px;
  transform: translateY(-50%) rotate(0deg);
}
.c-accordion_label::after {
  top: 50%;
  right: 15px;
  transform: translateY(-50%) rotate(90deg);
}
.c-accordion[open] .c-accordion_label::before, .c-accordion[open] .c-accordion_label::after {
  transform: rotate(0);
}
.c-accordion[open] .c-accordion_label::after {
  opacity: 0;
}
.c-accordion_box {
  overflow: hidden;
}
.c-accordion_box .l-inner {
  padding: 0 20px 20px;
}

/* 複数ページタイプ */
.c-pagination,
.wp-pagenavi {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px 10px;
  width: -moz-max-content;
  margin: 30px auto;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .c-pagination .c-pagination,
  .c-pagination .wp-pagenavi,
  .wp-pagenavi .c-pagination,
  .wp-pagenavi .wp-pagenavi {
    gap: 10px;
  }
}
.c-pagination .c-pagination_prev,
.c-pagination .c-pagination_page,
.c-pagination .c-pagination_next,
.c-pagination .c-pagination_first,
.c-pagination .c-pagination_last,
.c-pagination .previouspostslink,
.c-pagination .prev,
.c-pagination .nextpostslink,
.c-pagination .next,
.c-pagination .page,
.c-pagination .page-numbers,
.c-pagination .is-current,
.c-pagination .current,
.c-pagination .first,
.c-pagination .last,
.wp-pagenavi .c-pagination_prev,
.wp-pagenavi .c-pagination_page,
.wp-pagenavi .c-pagination_next,
.wp-pagenavi .c-pagination_first,
.wp-pagenavi .c-pagination_last,
.wp-pagenavi .previouspostslink,
.wp-pagenavi .prev,
.wp-pagenavi .nextpostslink,
.wp-pagenavi .next,
.wp-pagenavi .page,
.wp-pagenavi .page-numbers,
.wp-pagenavi .is-current,
.wp-pagenavi .current,
.wp-pagenavi .first,
.wp-pagenavi .last {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px 5px;
  min-width: 50px;
  min-height: 50px;
  padding: 3px 5px;
  border: 1px solid currentColor;
  color: var(--color-base);
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.3s ease;
}
@media screen and (max-width: 767px) {
  .c-pagination .c-pagination_prev,
  .c-pagination .c-pagination_page,
  .c-pagination .c-pagination_next,
  .c-pagination .c-pagination_first,
  .c-pagination .c-pagination_last,
  .c-pagination .previouspostslink,
  .c-pagination .prev,
  .c-pagination .nextpostslink,
  .c-pagination .next,
  .c-pagination .page,
  .c-pagination .page-numbers,
  .c-pagination .is-current,
  .c-pagination .current,
  .c-pagination .first,
  .c-pagination .last,
  .wp-pagenavi .c-pagination_prev,
  .wp-pagenavi .c-pagination_page,
  .wp-pagenavi .c-pagination_next,
  .wp-pagenavi .c-pagination_first,
  .wp-pagenavi .c-pagination_last,
  .wp-pagenavi .previouspostslink,
  .wp-pagenavi .prev,
  .wp-pagenavi .nextpostslink,
  .wp-pagenavi .next,
  .wp-pagenavi .page,
  .wp-pagenavi .page-numbers,
  .wp-pagenavi .is-current,
  .wp-pagenavi .current,
  .wp-pagenavi .first,
  .wp-pagenavi .last {
    min-width: 38px;
    min-height: 38px;
  }
}
@media (hover: hover) {
  .c-pagination .c-pagination_prev:hover,
  .c-pagination .c-pagination_page:hover,
  .c-pagination .c-pagination_next:hover,
  .c-pagination .c-pagination_first:hover,
  .c-pagination .c-pagination_last:hover,
  .c-pagination .previouspostslink:hover,
  .c-pagination .prev:hover,
  .c-pagination .nextpostslink:hover,
  .c-pagination .next:hover,
  .c-pagination .page:hover,
  .c-pagination .page-numbers:hover,
  .c-pagination .is-current:hover,
  .c-pagination .current:hover,
  .c-pagination .first:hover,
  .c-pagination .last:hover,
  .wp-pagenavi .c-pagination_prev:hover,
  .wp-pagenavi .c-pagination_page:hover,
  .wp-pagenavi .c-pagination_next:hover,
  .wp-pagenavi .c-pagination_first:hover,
  .wp-pagenavi .c-pagination_last:hover,
  .wp-pagenavi .previouspostslink:hover,
  .wp-pagenavi .prev:hover,
  .wp-pagenavi .nextpostslink:hover,
  .wp-pagenavi .next:hover,
  .wp-pagenavi .page:hover,
  .wp-pagenavi .page-numbers:hover,
  .wp-pagenavi .is-current:hover,
  .wp-pagenavi .current:hover,
  .wp-pagenavi .first:hover,
  .wp-pagenavi .last:hover {
    opacity: 0.7;
    color: #fff;
    background-color: var(--color-base);
  }
}
.c-pagination .page-numbers.dots,
.c-pagination .extend,
.wp-pagenavi .page-numbers.dots,
.wp-pagenavi .extend {
  border: none;
  pointer-events: none;
}
.c-pagination .is-current,
.c-pagination .current,
.wp-pagenavi .is-current,
.wp-pagenavi .current {
  color: #fff;
  background-color: var(--color-base);
}
@media (hover: hover) {
  .c-pagination .is-current:hover,
  .c-pagination .current:hover,
  .wp-pagenavi .is-current:hover,
  .wp-pagenavi .current:hover {
    opacity: 1;
  }
}
.c-pagination .previouspostslink,
.c-pagination .prev,
.c-pagination .nextpostslink,
.c-pagination .next,
.wp-pagenavi .previouspostslink,
.wp-pagenavi .prev,
.wp-pagenavi .nextpostslink,
.wp-pagenavi .next {
  position: relative;
  overflow: hidden;
  text-indent: -999%;
}
.c-pagination .previouspostslink::before,
.c-pagination .prev::before,
.c-pagination .nextpostslink::before,
.c-pagination .next::before,
.wp-pagenavi .previouspostslink::before,
.wp-pagenavi .prev::before,
.wp-pagenavi .nextpostslink::before,
.wp-pagenavi .next::before {
  content: "";
  display: block;
  width: 0.89em;
  height: 0.89em;
  border-top: solid 2px;
  position: absolute;
  transform-origin: center;
  color: inherit;
  transition: 0.3s ease;
}
.c-pagination .previouspostslink::before,
.c-pagination .prev::before,
.wp-pagenavi .previouspostslink::before,
.wp-pagenavi .prev::before {
  border-left: solid 2px;
  top: 50%;
  left: 37%;
  transform: rotate(-45deg);
  transform-origin: top left;
}
.c-pagination .nextpostslink::before,
.c-pagination .next::before,
.wp-pagenavi .nextpostslink::before,
.wp-pagenavi .next::before {
  border-right: solid 2px;
  top: 50%;
  right: 37%;
  transform: rotate(45deg);
  transform-origin: top right;
}
.c-pagination .c-pagination_first,
.c-pagination .c-pagination_last,
.wp-pagenavi .c-pagination_first,
.wp-pagenavi .c-pagination_last {
  width: -moz-max-content;
  width: max-content;
}

/* 前後ページナビゲーション */
.c-pagination_adjacent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 540px;
  margin: 0 auto;
  margin-top: 60px;
}
.c-pagination_adjacent .c-pagination_prev,
.c-pagination_adjacent .c-pagination_next {
  min-width: 80px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  letter-spacing: 0.06em;
  transition: 0.3s ease;
}
.c-pagination_adjacent .c-pagination_prev {
  justify-content: flex-start;
}
.c-pagination_adjacent .c-pagination_next {
  justify-content: flex-end;
}
.c-pagination_adjacent .c-pagination_prev::before,
.c-pagination_adjacent .c-pagination_next::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-top: solid 2px;
  border-right: solid 2px;
  transform-origin: center;
  color: inherit;
  transition: 0.3s ease;
}
.c-pagination_adjacent .c-pagination_prev::before {
  position: relative;
  left: 0;
  transform: rotate(-135deg);
  transition: 0.3s ease;
}
.c-pagination_adjacent .c-pagination_next::after {
  position: relative;
  right: 0;
  transform: rotate(45deg);
  transition: 0.3s ease;
}
.c-pagination_adjacent .c-pagination_back {
  justify-content: center;
  font-weight: bold;
  text-align: center;
  min-width: 80px;
}
@media (hover: hover) {
  .c-pagination_adjacent .c-pagination_prev:hover,
  .c-pagination_adjacent .c-pagination_next:hover,
  .c-pagination_adjacent .c-pagination_back:hover {
    color: var(--color-base);
  }
}
@media (hover: hover) {
  .c-pagination_adjacent .c-pagination_prev:hover::before {
    left: -5px;
  }
}
@media (hover: hover) {
  .c-pagination_adjacent .c-pagination_next:hover::after {
    right: -5px;
  }
}
.c-pagination_adjacent .c-pagination_empty {
  min-width: 100px;
}

/*		詳細
--------------------------*/
.c-pagination_single {
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.c-pagination_single .c-pagination_prev {
  text-align: left;
}
.c-pagination_single .c-pagination_back {
  text-align: center;
}
.c-pagination_single .c-pagination_next {
  text-align: right;
}

.c-gmap {
  position: relative;
  aspect-ratio: 100/75; /* 比率を4:3に固定 */
  overflow: hidden;
}
.c-gmap iframe, .c-gmap object, .c-gmap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-movie {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9; /* 比率を16:9に固定 */
  overflow: hidden;
}
.c-movie iframe, .c-movie object, .c-movie embed, .c-movie video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-dl-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 2%;
}
.c-dl-flex dt {
  float: left;
  font-weight: bold;
  width: 80px;
}
.c-dl-flex dd {
  width: calc(98% - 80px);
}

.c-form {
  margin: auto;
  transform: unset;
}
.c-form_row {
  margin-bottom: 30px;
}
.c-form dt {
  display: block;
  margin-bottom: 12px;
}
.c-form dd {
  display: block;
  margin-bottom: 15px;
}
.c-form dd + dt {
  margin-top: 38px;
}
.c-form_label {
  display: block;
  margin-bottom: 10px;
}
.c-form_label span {
  display: inline-block;
  color: #fff;
  background-color: #c4c4c4;
  background-color: var(--color-gray);
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding: 2px 8px;
  margin-left: 8px;
}
.c-form_label span.is-required {
  background-color: #f00;
  background-color: var(--color-red);
}
.c-form_label > select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: 8px;
  border: 1px solid #c4c4c4;
  background-color: #fff;
  color: #2e2e2e;
  font-size: 1em;
  cursor: pointer;
}
.c-form_flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 25px;
}
@media screen and (max-width: 833px) {
  .c-form_flex {
    flex-direction: column;
  }
}
.c-form_flex > * {
  max-width: 100%;
}
.c-form_flex.is-wrap {
  flex-wrap: wrap;
}
.c-form_flex.is-col-2 > * {
  max-width: calc(50% - 20px);
}
@media screen and (max-width: 833px) {
  .c-form_flex.is-col-2 > * {
    max-width: 100%;
  }
}
.c-form_flex + .c-form_flex {
  margin-top: 15px;
}
.c-form select,
.c-form option,
.c-form textarea,
.c-form input[type=text],
.c-form input[type=tel],
.c-form input[type=email],
.c-form input[type=search],
.c-form input[type=url] {
  width: 100%;
  min-height: 50px;
  padding: 15px;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border: none;
  border-radius: 6px;
  outline: 0;
}
.c-form input[type=text] {
  min-width: 80px;
  min-height: 50px;
}
.c-form input[type=radio] {
  margin-right: 5px;
}
.c-form_input_l {
  width: 100%;
}
.c-form_input_m {
  width: -moz-max-content;
  width: max-content;
  max-width: 400px;
}
.c-form_input_s {
  width: -moz-min-content;
  width: min-content;
  max-width: 120px;
}
.c-form ::-moz-placeholder {
  color: #aaa;
}
.c-form ::placeholder {
  color: #aaa;
}
.c-form_checkbox-item, .c-form_radio-item {
  display: inline-flex;
  align-items: center;
  gap: 0 20px;
}
.c-form input[type=checkbox],
.c-form input[type=radio] {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0 0.2em 0 0;
}
.c-form input[type=checkbox]::before,
.c-form input[type=radio]::before {
  content: "";
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.c-form input[type=checkbox]::after,
.c-form input[type=radio]::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.c-form input[type=checkbox]::before {
  border: 1px solid #f6f5f3;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}
.c-form input[type=checkbox]:checked::after {
  content: "✔";
  font-size: 1.8rem;
  line-height: 1em;
}
@media screen and (max-width: 833px) {
  .c-form input[type=checkbox]:checked::after {
    font-size: 12px;
  }
}
.c-form input[type=radio]::before {
  border: 1px solid #d5d5d5;
  border-radius: 50%;
}
.c-form input[type=radio]:checked::after {
  content: "";
  background: #666;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 50%;
}
.c-form .check_close {
  display: none;
}
.c-form option:focus,
.c-form textarea:focus,
.c-form input[type=text]:focus,
.c-form input[type=tel]:focus,
.c-form input[type=email]:focus,
.c-form input[type=search]:focus,
.c-form input[type=url]:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgb(225, 236, 251) inset;
}
.c-form label:has(input[type=radio]) {
  display: inline-block;
}
.c-form label select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
.c-form label:has(select) {
  display: inline-flex;
  align-items: center;
  position: relative;
}
.c-form label:has(select)::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  background-color: #535353;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: "";
  pointer-events: none;
}
.c-form_privacy {
  max-width: 434px;
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 20px;
  background-color: #f6f6f6;
  padding: 18px 40px;
  margin: 30px auto 40px;
}
.c-form_privacy .c-form_privacy_link {
  text-decoration: underline;
}
@media (hover: hover) {
  .c-form_privacy .c-form_privacy_link:hover {
    text-decoration: none;
  }
}
.c-form_privacy .c-form_privacy_consent label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.c-form_agreement {
  background: #fff5f8;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  font-size: 15px;
  padding: 25px 45px;
  margin: 45px auto;
}
.c-form_agreement a {
  color: var(--color-red);
  text-decoration: underline;
}
@media (hover: hover) {
  .c-form_agreement a:hover {
    text-decoration: none;
    opacity: 0.7;
  }
}
.c-form input[type=submit],
.c-form input[type=button],
.c-form button {
  cursor: pointer;
  outline: none;
}

/*フォームステップ*/
.c-form_step {
  position: relative;
  width: 300px;
  margin: 0 auto 61px;
  display: flex;
  justify-content: space-between;
}
.c-form_step::before {
  content: "";
  width: 250px;
  height: 1px;
  background-color: var(--color-base);
  position: absolute;
  z-index: -1;
  top: 31px;
  left: 50%;
  transform: translateX(-50%);
}
.c-form_step_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  color: var(--color-base);
  font-size: 1.6rem;
}
.c-form_step_item.is-active .c-form_step_item_number span {
  opacity: 1;
  color: #fff;
  background-color: var(--color-base);
}
.c-form_step_item_title {
  opacity: 0.5;
  letter-spacing: 0.06em;
}
.c-form_step_item.is-active .c-form_step_item_title {
  opacity: 1;
}
.c-form_step_item_number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
}
.c-form_step_item_number span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  opacity: 0.5;
  border-radius: 50%;
  border: 2px solid var(--color-base);
  background-color: #fff;
  font-weight: 500;
  letter-spacing: 0;
}

/*.c-form_step*/
.c-block {
  width: var(--w-liquid);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.c-block.c-block_2 > * {
  width: 48%;
}
.c-block {
  /*  END .c-block_2 */
}
.c-block.c-block_3 > * {
  width: 33.3333333333%;
}
.c-block {
  /*  END &.c-block_3 */
}
.c-block.c-block_4 > * {
  width: 25%;
}
.c-block {
  /*  END &.c-block_4 */
}
.c-block.c-block_5 > * {
  width: 20%;
}
.c-block {
  /*  END &.c-block_5 */
}
.c-block.c-block_6 > * {
  width: 16.6666666667%;
}
.c-block {
  /*  END &.c-block_6 */
}
.c-block.c-block_7 > * {
  width: 14.2857142857%;
}
.c-block {
  /*  END &.c-block_7 */
}
.c-block.c-block_8 > * {
  width: 12.5%;
}
.c-block {
  /*  END &.c-block_8 */
} /*  END .c-block */
/*		GLIDカード
-----------------------------------------------------*/
.c-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px 2%;
  margin-left: auto;
  margin-right: auto;
}
.c-card-grid_item {
  display: grid;
  grid-row: span 4;
  gap: 0.65rem;
  grid-template-rows: subgrid;
}
.c-card-grid_item > a {
  display: inherit;
  grid-template-rows: inherit;
  grid-row: inherit;
  gap: inherit;
}
.c-card-grid_image {
  width: 100%;
  text-align: center;
}
.c-card-grid_title {
  font-size: 2.4rem;
}
.c-card-grid_title, .c-card-grid_text {
  margin-top: 20px;
  text-align: justify;
}
.c-card-grid.c-card_2 {
  grid-template-columns: repeat(auto-fit, minmax(435px, 1fr));
}
@media screen and (max-width: 767px) {
  .c-card-grid.c-card_2 {
    grid-template-columns: none;
  }
}
.c-card-grid.c-card_3 {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
@media (max-width: 500px) {
  .c-card-grid.c-card_3 {
    grid-template-columns: none;
  }
}
.c-card-grid.c-card_4 {
  grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
}
@media (max-width: 400px) {
  .c-card-grid.c-card_4 {
    grid-template-columns: none;
  }
}
.c-card-grid.c-card_5 {
  grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
}
@media (max-width: 300px) {
  .c-card-grid.c-card_5 {
    grid-template-columns: none;
  }
}
.c-card-grid.c-card_6 {
  grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
}
@media (max-width: 200px) {
  .c-card-grid.c-card_6 {
    grid-template-columns: none;
  }
}
.c-card-grid.c-card_7 {
  grid-template-columns: repeat(auto-fit, minmax(132px, 1fr));
}
@media (max-width: 200px) {
  .c-card-grid.c-card_7 {
    grid-template-columns: none;
  }
}
.c-card-grid.c-card_8 {
  grid-template-columns: repeat(auto-fit, minmax(112px, 1fr));
}
@media (max-width: 150px) {
  .c-card-grid.c-card_8 {
    grid-template-columns: none;
  }
}

/* END .c-card-grid */
@media screen and (max-width: 767px) {
  .c-card-grid_title {
    font-size: 2rem;
  }
  .c-card-grid_title, .c-card-grid_text {
    margin-top: 15px;
  }
}
/*  END Break Point  */
/*		FLEXカード
-----------------------------------------------------*/
.c-card-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px 3%;
}
.c-card-flex.c-card_2 .c-card-flex_item {
  width: 48.5%;
}
.c-card-flex {
  /* END c-card_2 */
}
.c-card-flex.c-card_3 .c-card-flex_item {
  width: 31.3333333333%;
}
@media screen and (max-width: 767px) {
  .c-card-flex.c-card_3 .c-card-flex_item {
    width: 100%;
  }
}
.c-card-flex {
  /* END c-card_3 */
}
.c-card-flex.c-card_4 .c-card-flex_item {
  width: 22.75%;
}
@media screen and (max-width: 767px) {
  .c-card-flex.c-card_4 .c-card-flex_item {
    width: 48.5%;
  }
}
.c-card-flex {
  /* END c-card_4 */
}
.c-card-flex.c-card_5 .c-card-flex_item {
  width: 17.6%;
}
@media screen and (max-width: 767px) {
  .c-card-flex.c-card_5 .c-card-flex_item {
    width: 100%;
  }
}
.c-card-flex {
  /* END c-card_5 */
}
.c-card-flex.c-card_6 .c-card-flex_item {
  width: 14.1666666667%;
}
@media screen and (max-width: 767px) {
  .c-card-flex.c-card_6 .c-card-flex_item {
    width: 48.5%;
  }
}
.c-card-flex {
  /* END c-card_6 */
}
.c-card-flex.c-card_7 .c-card-flex_item {
  width: 11.7142857143%;
}
@media screen and (max-width: 767px) {
  .c-card-flex.c-card_7 .c-card-flex_item {
    width: 100%;
  }
}
.c-card-flex {
  /* END c-card_7 */
}
.c-card-flex.c-card_8 .c-card-flex_item {
  width: 9.875%;
}
@media screen and (max-width: 767px) {
  .c-card-flex.c-card_8 .c-card-flex_item {
    width: 48.5%;
  }
}
.c-card-flex {
  /* END c-card_8 */
}
.c-card-flex_image {
  width: 100%;
  text-align: center;
}
.c-card-flex_title {
  font-size: 2.4rem;
}
.c-card-flex_title, .c-card-flex_text {
  margin-top: 20px;
  text-align: justify;
}

/* END .c-card_flex */
@media screen and (max-width: 833px) {
  .c-card-flex {
    flex-direction: row;
  }
  .c-card-flex.c-card_2 .c-card-flex_item, .c-card-flex.c-card_3 .c-card-flex_item, .c-card-flex.c-card_4 .c-card-flex_item, .c-card-flex.c-card_5 .c-card-flex_item, .c-card-flex.c-card_6 .c-card-flex_item, .c-card-flex.c-card_7 .c-card-flex_item, .c-card-flex.c-card_8 .c-card-flex_item {
    width: 45%;
  }
}
/*  END Break Point  */
@media screen and (max-width: 767px) {
  .c-card-flex {
    flex-direction: column;
  }
  .c-card-flex.c-card_2 .c-card-flex_item,
  .c-card-flex .c-card_3 .c-card-flex_item,
  .c-card-flex .c-card_4 .c-card-flex_item,
  .c-card-flex .c-card_5 .c-card-flex_item,
  .c-card-flex .c-card_6 .c-card-flex_item,
  .c-card-flex .c-card_7 .c-card-flex_item,
  .c-card-flex .c-card_8 .c-card-flex_item {
    width: 100%;
  }
}
/*  END Break Point  */
.c-unit {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px 4%;
}
@media screen and (max-width: 767px) {
  .c-unit {
    flex-direction: column;
  }
}
.c-unit > * {
  flex: 1;
}
.c-unit + .c-unit {
  margin-top: 30px;
}
.c-unit.is-reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .c-unit.is-reverse {
    flex-direction: column;
  }
}

.c-media {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 3%;
}
@media screen and (max-width: 767px) {
  .c-media {
    flex-direction: column;
  }
}
.c-media.is-reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .c-media.is-reverse {
    flex-direction: column;
  }
}
.c-media_image {
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .c-media_image {
    width: 100%;
  }
}
.c-media_content {
  flex: 1 1 400px;
}
@media screen and (max-width: 767px) {
  .c-media_content {
    flex: 1;
    width: 100%;
  }
}
.c-media_content_title {
  font-size: 2.4rem;
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .c-media_content_title {
    font-size: 1.8rem;
  }
}
.c-media_content_text {
  font-size: 1.6rem;
  line-height: 1.75;
}
@media screen and (max-width: 767px) {
  .c-media_content_text {
    font-size: 1.4rem;
  }
}

.js-scroll-up {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 1s;
}

.js-scroll-up.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

/*		404ページ
-----------------------------------------------------*/
.p-404 {
  background: #f7f6f2;
  padding: 90px 0 60px;
}
.p-404 .p-404-mv {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-404 .p-404-mv .c-title_l {
  text-align: center;
  font-weight: bold;
}
.p-404 .p-404-mv .c-title_l span {
  font-size: 32px;
  color: #99b521;
}
.p-404 .p-404-mv .c-title_l h1 {
  margin: 30px 0;
  font-size: 32px;
  color: #000000;
}
.p-404 .p-404-mv p {
  text-align: center;
  font-size: 16px;
  line-height: 2;
}
.p-404 .p-404-mv .c-btn_wrap {
  margin: 96px auto 0;
}

/*.p-404*/
@media screen and (max-width: 767px) {
  .p-404 .p-404-mv .c-title_l {
    font-size: 20px;
  }
  .p-404 .p-404-mv .c-title_l span {
    font-size: 20px;
  }
  .p-404 .p-404-mv .c-title_l h1 {
    font-size: 18px;
  }
  .p-404 .p-404-mv p {
    font-size: 14px;
  }
  .p-404 .p-404-mv p .is_sp {
    display: block;
  }
  .p-404 .p-404-mv .c-link_btn {
    width: 100%;
  }
  .p-404 .p-404-mv .c-link_btn a {
    font-size: 1.6rem;
  }
  /*.p-404*/
}
/*max-width: 600px*/
/*
====>> Margin/Padding調整用のユーティリティクラス <<====

・margin、paddingの微調整に使用するユーティリティクラス

*/
/* Padding Classes */
.p-0 {
  padding: 0;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.p-40 {
  padding: 40px;
}

.p-50 {
  padding: 50px;
}

.p-80 {
  padding: 80px;
}

.p-100 {
  padding: 100px;
}

.pt-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-100 {
  padding-bottom: 100px;
}

/* Margin Classes */
.m-0 {
  margin: 0;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-30 {
  margin: 30px;
}

.m-40 {
  margin: 40px;
}

.m-50 {
  margin: 50px;
}

.m-80 {
  margin: 80px;
}

.m-100 {
  margin: 100px;
}

.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-100 {
  margin-bottom: 100px;
}

/*
====>> 表示制御のユーティリティクラス <<====

・表示・非表示、flexレイアウトなどの制御

*/
/*		ディスプレイ
-----------------------------------------------------*/
.is-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .is-flex {
    flex-direction: column;
  }
}
.is-hide {
  display: none;
}

.is-show {
  opacity: 1;
  visibility: visible;
}

/*		リバース
-----------------------------------------------------*/
.is-flipped_row {
  flex-flow: row-reverse wrap;
}

.is-flipped_column {
  flex-flow: column-reverse wrap;
}

/*
====>> テキスト調整用のユーティリティクラス <<====

・テキストの装飾、配置などの微調整用クラス

*/
/*		テキスト装飾
-----------------------------------------------------*/
.is-strong {
  font-weight: bold;
}

/*		位置
-----------------------------------------------------*/
.is-left {
  text-align: left;
}

.is-center {
  text-align: center;
}

.is-right {
  text-align: right;
}

/*		カラー指定
-----------------------------------------------------*/
.is-black {
  color: var(--color-black);
}

.is-gray {
  color: var(--color-gray);
}

/*
====>> ボーダー調整用のユーティリティクラス <<====

・ボーダー、角丸などの微調整用クラス

*/
/*		線
-----------------------------------------------------*/
.is-border_wrap {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid currentColor;
}

.is-border {
  box-sizing: border-box;
  border: 1px solid currentColor;
}

/*		角丸
-----------------------------------------------------*/
.is-round {
  border-radius: 16px;
}

.is-edge {
  border-radius: 0;
}

/*
====>> スクロール制御のユーティリティクラス <<====

・スクロールのON/OFFを制御

*/
/*		スクロール制御
-----------------------------------------------------*/
.is-scroll_off {
  overflow: hidden;
}

.is-scroll_on {
  overflow: auto;
}

/*
====>> リスト調整用のユーティリティクラス <<====

・リストスタイルの微調整用クラス

*/
/*		リストスタイル
-----------------------------------------------------*/
.c-list.is-dotted {
  padding: 20px;
  list-style-type: disc;
}
.c-list.is-dotted li {
  padding: 20px 20px 20px 0;
}

.c-list.is-number {
  padding: 20px;
  list-style: decimal;
}
.c-list.is-number li {
  padding: 20px 20px 20px 0;
}
/*# sourceMappingURL=style.css.map */
