/*
====>> テキスト調整用のユーティリティクラス <<====

・テキストの装飾、配置などの微調整用クラス

*/

/*		テキスト装飾
-----------------------------------------------------*/

.is-strong{
	font-weight: bold;
}

/*		位置
-----------------------------------------------------*/

.is-left{
	text-align: left;
}

.is-center{
	text-align: center;
}

.is-right{
	text-align: right;
}

/*		カラー指定
-----------------------------------------------------*/

.is-black{
	color: var(--color-black);
}

.is-gray{
	color: var(--color-gray);
}

